.comments-wrapper {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    gap: 10px;
    text-align: start;
}

.comments-wrapper span {
    font-weight: bold;
}



.comments-wrapper .comments-list{
    height: 165px;
     width: 300px;
      overflow: auto;

}

.comments-wrapper .comment-input {
    height: 50px;
    width: 100%;
}

.comments-wrapper button {
    border-radius: 50px;
    width: 100%;

}

.comments-wrapper .thumbUp {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
    margin-left: 1rem;
    color: green;
}

.comments-wrapper .thumbDown {
    width: 16px;
    height: 16px;
    color: red;
}