.login-page {
    display: flex;
    flex-direction: column;
}

.login-page .signup-title {
    display: flex;
    justify-content: space-around;
}

.login-page .fa-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.login-page .fa-icon {
    background-color: black;
    color: white;
    border-radius: 50%;
    outline: none;
    outline-color: black;
}

.login-page .signup-title {
    margin-bottom: 30px;
}

.login-page .signup-title > h1 {
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.login-page .sign-up-container > input, .login-page .password-input {
    border-radius: 10px;
    height: 5vh;
    width: 80vw;
    margin-bottom: 15px;
}

.login-page .error-message {
    color: red;
    font-weight: bolder;
}


.login-page .signup-button-container > button {
    margin-top: 50px;
    background-color: red;
}

.login-page .register-member {
    color: white;
}

.login-page .fa-times-icon {
    font-size: 35px;
    color: white;
}