.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page .signup-title {
    display: flex;
    justify-content: space-around;
}

.login-page .fa-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    cursor: pointer;
}

.login-page .fa-icon {
    background-color: black;
    color: white;
    border-radius: 50%;
    outline: none;
    outline-color: black;
}

.login-page .signup-title {
    margin-bottom: 30px;
}

.login-page .signup-title>h1 {
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.login-page .sign-up-container>input,
.login-page .password-input {
    border-radius: 10px;
    height: 5vh;
    width: 80vw;
    margin-bottom: 15px;
}

.login-page .error-message {
    color: red;
    font-weight: bolder;
}

.login-page .signup-button-container>button {
    margin-top: 50px;
    background-color: red;
}

.login-page .register-member {
    color: #00AEEF; 
    cursor: pointer;
    text-decoration: underline;
}

.login-page .register-member:hover {
    color: #ff7700;
}


.login-page .fa-times-icon {
    font-size: 35px;
    color: white;
}

.login-page .red-border {
    border: 2px solid red;
}

@media only screen and (min-width: 768px) {

    .login-page {

        width: 400px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px white;

    }

    .login-page .sign-up-container>input {
        width: 320px;
    }

    .sign-up-container {
        width: 330px;

    }

    .login-page .signup-button-container>button {
        margin-bottom: 20px;
    }

}