.mainpage_container {
    position: relative;
}

.mainpage_container .hide {
    display: none;
}


  .mainpage_container .popular_movies_section{
    margin-top: 7%;
  }






@media (min-device-width: 768px) {

    .mainpage_container .popular_movies_section {
        margin-top: 7%;
    }

    .mainpage_container section {
        margin-bottom: 7%;
    }

  

}