@import url('../../node_modules/slick-carousel/slick/slick.css');
@import url('../../node_modules/slick-carousel/slick/slick-theme.css');

.slick-slider {
    height: 0 auto;
    width: 86vw;
    min-width: 200px;
    position: relative;
}

.slick-slider .slider_container {
    position: relative;
    width: 24vw;
    height: 240px;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Om man inte vill ha pilar i karusellerna
/* .slick-prev,
.slick-next {
    display: none !important;
} */

.slick-slider .movie-title {
    font-size: 11px;
    width: 24vw;
    max-width: 120px;
    color: lightgrey;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slick-slider .movie_poster {
    width: 24vw;
    max-width: 120px;
    height: 0 auto;
}

.slick-slider .payment_button {
    width: 18vw;
    min-width: 20px;
    max-width: 100px;
    height: fit-content;
    font-size: 10px;
    background-color: lightgray; 
    position: relative;
    bottom: 10px;
}