@import url('../../node_modules/slick-carousel/slick/slick.css');
@import url('../../node_modules/slick-carousel/slick/slick-theme.css');

.slick-slider {
    height: auto;
    width: 86vw;
    min-width: 200px;
   
}

.slick-prev,
.slick-next {
    display: true !important;
    z-index: 1;
    position: absolute;
   margin-top: 10%;
   margin-right: 20px;
margin-left: 10px;
   

} 



.slick-prev:before, .slick-next:before {

    font-family: 'slick';
    font-size: 45px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
 
}

.slider_container.big-movie-slider{
    width: 90%;
    margin: 0 auto;

  }

 
.movie_slider h4 {
    color: rgb(190, 36, 36);
    width: fit-content;
    font-size: 20px;
  
    margin-top: 0%;
 
}

@media (max-width: 768px) {

    .slick-prev:before, .slick-next:before {

        font-family: 'slick';
        font-size: 25px;
        line-height: 1;
        opacity: .75;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
     
        
    }
    
    .slick-prev,
    .slick-next {
        display: true !important;
        z-index: 1;
        position: absolute;
       margin-top: 1%;
       margin-right: 20px;
    margin-left: 10px;
       
    
    } 

    .movie_slider h4{
        padding-top: 10vh;
    }


}

