.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px;
    background-color: black;
    height: 10vh;
  }
  
  .navbar .movie_wheel {
    width: 100px;
    height: 100px;
  }
  
  .navbar .play_folder {
    width: 35px;
    height: 35px;
    padding: 1.5rem;
  }

  .navbar .user_icon {
    font-size: 35px;
    color: white;
    padding: 1.5rem;
  }

  .navbar .search_icon {
    width: 16px;
    height: 16px;
    padding-left: 10px;
  }
  
  .navbar .search_bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar input {
    width: 60%;
    border: none;
    outline: none;
    font-size: 16px;
    border: 1px solid white;
  }