.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  height: 60px;
}

.navbar .movie_wheel {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  -webkit-clip-path: circle(45px at center);
  clip-path: circle(45px at center);
  z-index: 0;
  transition: transform 0.3s ease;
  transform: scale(1);
}

.navbar .movie_wheel:hover {
  transform: scale(1.1);
}

.navbar .play_folder {
  width: 35px;
  height: 35px;
  padding: 0.5rem;
}

.navbar .playbtn-mobile {
  width: 35px;
  height: 35px;

  color: white;
}

.navbar .play-button-div {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  height: 50px;
}

.navbar .play-button-div:after,
.navbar .settingsbtn-container:after,
.navbar .user-icon-div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow:
     0 5px 0 #E8476A,
    0 10px 0 purple;
  background: #FFA01B ;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.navbar .play-button-div:hover:after,
.navbar .settingsbtn-container:hover:after,
.navbar .user-icon-div:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar .play-button-div > h4,
.navbar .user-icon-div > h4 {
  margin-right: 10px;
}

.navbar .play-icon-computer {
  font-size: 35px;
  margin-right: 5px;
}

.navbar .settingsbtn-container {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  top: -25px;
  right: 55px;
  height: 50px;
}

.navbar .settingsbtn-container > h4 {
  margin-right: 10px;
}

.navbar .play-button-div:hover,
.navbar .settingsbtn-container:hover,
.navbar .user-icon-div:hover {
  filter: brightness(90%);
}


.navbar .settingsbtn-container:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar .settings-icon {
  font-size: 35px;
  margin-right: 5px;
}

.navbar .user_icon {
  font-size: 35px;
  color: white;
}

.navbar .user-icon-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 50px;
}

 .navbar .user-icon-div > h4 {
  color: white;
}

.navbar .user_icon_computer {
  color: white;
  font-size: 35px;
  margin-right: 5px;
}

.navbar .search_icon {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
}

.navbar .search_bar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar input {
  width: 50%;
  border: none;
  outline: none;
  font-size: 16px;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.navbar input::placeholder {
  color: #dcdcdc;
}

.navbar input:focus {
  border-color: aqua;
}

.navbar .hide {
  display: none;
}

:root {
  --dropdown-highlight: gray;
  --dropdown-width: 200px;
  /* --dropdown-background: white; */
  --dropdown-color: white;
}

/* Dropdown styles */
.navbar .dropdown {
  position: absolute;
  right: 5px;
  margin-right: 5.5em;
  border: none;
}

.navbar .dropdown summary {
  list-style: none;
  list-style-type: none;
}

.navbar .dropdown>summary::-webkit-details-marker {
  display: none;
}

.navbar .dropdown summary:focus {
  outline: none;
}

.navbar .dropdown summary:focus a.button {
  border: 2px solid white;
}

.navbar .dropdown summary:focus {
  outline: none;
}

.navbar .dropdown-title {
  display: flex;
  justify-content: center;
}

.navbar .dropdown ul {
  position: absolute;
  margin: 35px 0 0 0;
  padding: 20px 0;
  width: var(--dropdown-width);
  left: 0%;
  margin-left: calc((var(--dropdown-width) / 2) * -1 - 10px);
  box-sizing: border-box;
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
  z-index: 2;
  border: white solid 1px;
  color: white;
}

.navbar .dropdown ul li a:link,
.dropdown ul li a:visited,
a:not([href]) {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--dropdown-color);
  text-decoration: none;
}

.navbar .dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
}

/* Dropdown triangle */
.navbar .dropdown ul::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 68%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f3f3f3 transparent;
}

/* Close the dropdown with outside clicks */
.navbar .dropdown>summary::before {
  display: none;
}

.navbar .dropdown[open]>summary::before {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.navbar ul li:last-child::before {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  margin: 10px 0;
}

.navbar .black-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  border-style: solid;
  border-color: white;
  margin-right: 10px;
}

.navbar .white-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #06acb8;
  border-style: solid;
  border-color: white;
  margin-right: 10px;
}

.navbar .pink-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #d70dff;
  border-style: solid;
  border-color: white;
  margin-right: 10px;
}

.navbar .orange-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: orange;
  border-style: solid;
  border-color: white;
  margin-right: 10px;
}

.navbar .settings_icon {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30%, -50%);
}

.navbar .li-color {
  display: flex;
  align-items: center;
  height: 50px;
  color: white;
}

.dropdown li:last-child a {
  color: white;
}

.hide {
  display: none;
}

@media only screen and (min-width: 768px) { 
  .navbar .dropdown ul {
    margin: -30px 0 0 0;
    margin-left: calc((var(--dropdown-width) / 2) * -1 );
  }

  .navbar .dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    right: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f3f3f3 transparent;
  }
}