
.payment-container .poster{
width: 30vh;
height: 40vh;
top: 10%;
border-radius: 15px;

}

.payment-container {
    top: 0%;
    
    height: 100%;
    min-height:100vh;
    margin: 0 auto;
    padding: 0;
    color: white;
    margin-top: 60px;
    position: relative;

}



.payment-container .poster_purchased{
    width: 80%;
    height: 80%;

}

.payment-container .exit-button {
  
    background-color: rgba(rgba(255, 0, 0, 0), green, blue, alpha);
    position: fixed;
    right: 10%;
   
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.payment-container .small-info{
   width: 40vh;
}

.payment-container .paymentform {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.payment-container .paymentform input {
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}

.payment-container .paymentform button {
    margin-top: 20px;
    
}

.payment-container #playButton {
    position: absolute;
    bottom: 15%;
    right: 35%;
    background-color: greenyellow;
}

.payment-container .credticard {
    width: 50px;
    height: 30px;
    border: 3px solid white;
}

.payment-container .payment-form-wrapper {
    margin: 10px;
    width: 40vh;
}


.payment-container .payment-form-wrapper img{
    width: 60px;
    height: 40px;
}

.payment-container .submitButton {
    margin-top: 30px;
    margin-right: 15px;
    color: black;
}
.payment-container button{
    color: black;
}

.payment-container .selected {
    border: 4px solid greenyellow;
}







@media (min-width: 768px) {



    .payment-container .div-for-web {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center; 
        align-items: center;
        grid-gap: 0;
    }
    .payment-container .poster {
        margin-top: 8vh;
        width: 40vh;
        height: 50vh;
      }


    .payment-container .payment-form-wrapper {
        margin-top: 50%;
        width: 50vh;
    }

    .payment-container .paymentform {
        font-size: large;
        margin: 27px;
    }

    .payment-container .payment-form-wrapper img {
        width: 90px;
        height: 60px;
    }

    .payment-container .exit-button {
        position: absolute;
        background-color: rgba(rgba(255, 0, 0, 0), green, blue, alpha);
        top: 10%;
        right: 5%;
        margin: 5px;
       
        color: white;
        font-size: 30px;
        font-weight: bold;
    }


    .div-for-web.show {
        display: block;
      }
}