.search_results .movie_grid {
    width: 86vw;
    min-width: 200px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 40px;
    justify-items: center;
  }

  @media (max-width: 768px) {
    .search_results .movie_grid {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }
  }

  .search_results h2 {
    color: white;
    font-size: 20px;
  }

  .search_results {
    margin-top: 12vh;
  }

  .search_results .movie_item {
    width: 6.6rem;
  }

