.sign-up-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-page .signup-title {
    display: flex;
    justify-content: space-around;
}

.sign-up-page .fa-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.sign-up-page .fa-icon {
    background-color: black;
    color: white;
    border-radius: 50%;
    outline: none;
    outline-color: black;
}

.sign-up-page .signup-title {
    margin-bottom: 0px;
}

.sign-up-page .signup-title>h1 {
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.sign-up-page .sign-up-container>input {
    border-radius: 10px;
    height: 5vh;
    width: 80vw;
    margin-bottom: 15px;
}

.sign-up-page .signup-button-container>button {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: red;
}

.sign-up-page .fa-times-icon {
    font-size: 35px;
    color: white;
}

.sign-up-page .text-success {
    color: greenyellow
}

.sign-up-page .text-danger {
    color: red;
}

@media only screen and (min-width: 768px) {
    .sign-up-page {
        width: 400px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 1px white;
    }

    .sign-up-page .sign-up-container>input {
        width: 330px;
    }
}