.user-page {
  min-height: 80vh;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  text-align: center;
}

.user-page .navbar_section {
  display: flex;
  justify-self: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  height: 60px;
}

.user-page .navbar_section .mov-wheel {
  width: 75px;
  height: 75px;
  -webkit-clip-path: circle(40px at center);
  clip-path: circle(40px at center);
}

.user-page>h3 {
  color: white;
}

.user-page .watchList-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  color: white;
}


.user-page .purchased-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  color: white;
}

.user-page .purchased-item>section {
  position: relative;
  width: 35vw;
}

.user-page .purchased-item > section,
.user-page .watchlist-item {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.user-page .watchlist-item>section {
  position: relative;
  width: 35vw;
}

.user-page .purchased-title {
  position: absolute;
  background-color: gray;
  opacity: 80%;
  color: white;
  top: 0;
  right: 0;
  transform: translate(5%, -100%);
  padding: 1px;
  border-radius: 10%;
  z-index: 2;
}

.user-page .purchased-img {
  width: 35vw;
  border-radius: 10px;
}

.user-page .more-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-page .more-info-button {
  background-color: transparent;
  border: none;
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
}

.user-page .more-info-button:hover {
  color: #fff6f6;
}

.user-page .purchased-item > section:hover,
.user-page .watchlist-item:hover {
  transform: scale(1.1);
}

.user-page .watchlist-img {
  width: 35vw;
  border-radius: 10px;
}


@media only screen and (min-width: 768px) {
  .user-page {
    width: 80vw;

    text-align: start;
  }

  .user-page > h3 {
    margin-left: 20px;
  }

  .user-page .purchased-container,
  .user-page .watchList-container {
    display: flex;
    flex-wrap: wrap;
  }

  .user-page .purchased-item>section {
    width: 200px;
  }

  .user-page .purchased-item,
  .user-page .watchlist-item {
    width: 200px;
    margin: 10px;
  }

  .user-page .purchased-img,
  .user-page .watchlist-img {
    width: 200px;
  }
}